body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rebeccapurple;
}

#app-container{
  max-width: 750px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
}

h2 {
  font-weight: 200;
  padding: 10px;
}

li {
  font-size: 18px;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 10px;
  border-left: 4px solid #aba;
}

.launches-list div{
  padding: 18px;
  background: #ddd;
  display: inline-block;
  margin: 15px;
}


.launches-list .launch--usa{
  padding: 18px;
  background: cornflowerblue;
  color: #fff;
  border: 2px solid red;
}
